@font-face {
    font-family: "Keep Calm";
    src: url("css/fonts/KeepCalm-Medium.eot");
    src: 
    url("css/fonts/KeepCalm-Medium.woff") format("woff")
    url("css/fonts/KeepCalm-Medium.woff2") format("woff2")
    url("css/fonts/KeepCalm-Medium.ttf") format("truetype")
    url("css/fonts/KeepCalm-Medium.svg#svgKeepCalm") format("svg");
}

@font-face {
    font-family: "Champagne & Limousines";
    src: url("css/fonts/ChampagneLimousines.eot");
    src: 
    url("css/fonts/ChampagneLimousines.woff") format("woff")
    url("css/fonts/ChampagneLimousines.woff2") format("woff2")
    url("css/fonts/ChampagneLimousines.ttf") format("truetype")
    url("css/fonts/ChampagneLimousines.svg#svgChampagneLimousines") format("svg");
}

body {
    background-color: black;
}

h1 {
    font-family: 'Champagne & Limousines', Helvetica, sans-serif;
    color: rgb(20, 175, 247);
    text-align: center;
}

p {
    font-family: 'Keep Calm', Helvetica, sans-serif;
    color: rgb(114, 114, 114);
}