@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines.eot');
    src: url('ChampagneLimousines.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines.woff2') format('woff2'),
        url('ChampagneLimousines.woff') format('woff'),
        url('ChampagneLimousines.ttf') format('truetype'),
        url('ChampagneLimousines.svg#Champagne&Limousines') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-Bold.eot');
    src: url('ChampagneLimousines-Bold.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-Bold.woff2') format('woff2'),
        url('ChampagneLimousines-Bold.woff') format('woff'),
        url('ChampagneLimousines-Bold.ttf') format('truetype'),
        url('ChampagneLimousines-Bold.svg#Champagne&Limousines-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

